# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
.gitsecret/keys/random_seed
!*.secret
run.env
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/pulpout-go.iml
/.idea/vcs.xml
/wger/api_export/exercises/node_modules/@types/node/assert/strict.d.ts
/wger/api_export/exercises/node_modules/@types/node/dns/promises.d.ts
/wger/api_export/exercises/node_modules/@types/node/fs/promises.d.ts
/wger/api_export/exercises/node_modules/@types/node/readline/promises.d.ts
/wger/api_export/exercises/node_modules/@types/node/stream/consumers.d.ts
/wger/api_export/exercises/node_modules/@types/node/stream/promises.d.ts
/wger/api_export/exercises/node_modules/@types/node/stream/web.d.ts
/wger/api_export/exercises/node_modules/@types/node/timers/promises.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/assert/strict.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/dns/promises.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/fs/promises.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/readline/promises.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/stream/consumers.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/stream/promises.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/stream/web.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/timers/promises.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/assert.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/async_hooks.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/buffer.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/child_process.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/cluster.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/console.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/constants.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/crypto.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/dgram.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/diagnostics_channel.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/dns.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/dom-events.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/domain.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/events.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/fs.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/globals.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/globals.global.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/http.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/http2.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/https.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/index.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/inspector.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/module.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/net.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/os.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/path.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/perf_hooks.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/process.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/punycode.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/querystring.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/readline.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/repl.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/stream.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/string_decoder.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/test.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/timers.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/tls.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/trace_events.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/tty.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/url.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/util.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/v8.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/vm.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/wasi.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/worker_threads.d.ts
/wger/api_export/exercises/node_modules/@types/node/ts4.8/zlib.d.ts
/wger/api_export/exercises/node_modules/@types/node/assert.d.ts
/wger/api_export/exercises/node_modules/@types/node/async_hooks.d.ts
/wger/api_export/exercises/node_modules/@types/node/buffer.d.ts
/wger/api_export/exercises/node_modules/@types/node/child_process.d.ts
/wger/api_export/exercises/node_modules/@types/node/cluster.d.ts
/wger/api_export/exercises/node_modules/@types/node/console.d.ts
/wger/api_export/exercises/node_modules/@types/node/constants.d.ts
/wger/api_export/exercises/node_modules/@types/node/crypto.d.ts
/wger/api_export/exercises/node_modules/@types/node/dgram.d.ts
/wger/api_export/exercises/node_modules/@types/node/diagnostics_channel.d.ts
/wger/api_export/exercises/node_modules/@types/node/dns.d.ts
/wger/api_export/exercises/node_modules/@types/node/dom-events.d.ts
/wger/api_export/exercises/node_modules/@types/node/domain.d.ts
/wger/api_export/exercises/node_modules/@types/node/events.d.ts
/wger/api_export/exercises/node_modules/@types/node/fs.d.ts
/wger/api_export/exercises/node_modules/@types/node/globals.d.ts
/wger/api_export/exercises/node_modules/@types/node/globals.global.d.ts
/wger/api_export/exercises/node_modules/@types/node/http.d.ts
/wger/api_export/exercises/node_modules/@types/node/http2.d.ts
/wger/api_export/exercises/node_modules/@types/node/https.d.ts
/wger/api_export/exercises/node_modules/@types/node/index.d.ts
/wger/api_export/exercises/node_modules/@types/node/inspector.d.ts
/wger/api_export/exercises/node_modules/@types/node/LICENSE
/wger/api_export/exercises/node_modules/@types/node/module.d.ts
/wger/api_export/exercises/node_modules/@types/node/net.d.ts
/wger/api_export/exercises/node_modules/@types/node/os.d.ts
/wger/api_export/exercises/node_modules/@types/node/package.json
/wger/api_export/exercises/node_modules/@types/node/path.d.ts
/wger/api_export/exercises/node_modules/@types/node/perf_hooks.d.ts
/wger/api_export/exercises/node_modules/@types/node/process.d.ts
/wger/api_export/exercises/node_modules/@types/node/punycode.d.ts
/wger/api_export/exercises/node_modules/@types/node/querystring.d.ts
/wger/api_export/exercises/node_modules/@types/node/readline.d.ts
/wger/api_export/exercises/node_modules/@types/node/README.md
/wger/api_export/exercises/node_modules/@types/node/repl.d.ts
/wger/api_export/exercises/node_modules/@types/node/stream.d.ts
/wger/api_export/exercises/node_modules/@types/node/string_decoder.d.ts
/wger/api_export/exercises/node_modules/@types/node/test.d.ts
/wger/api_export/exercises/node_modules/@types/node/timers.d.ts
/wger/api_export/exercises/node_modules/@types/node/tls.d.ts
/wger/api_export/exercises/node_modules/@types/node/trace_events.d.ts
/wger/api_export/exercises/node_modules/@types/node/tty.d.ts
/wger/api_export/exercises/node_modules/@types/node/url.d.ts
/wger/api_export/exercises/node_modules/@types/node/util.d.ts
/wger/api_export/exercises/node_modules/@types/node/v8.d.ts
/wger/api_export/exercises/node_modules/@types/node/vm.d.ts
/wger/api_export/exercises/node_modules/@types/node/wasi.d.ts
/wger/api_export/exercises/node_modules/@types/node/worker_threads.d.ts
/wger/api_export/exercises/node_modules/@types/node/zlib.d.ts
/wger/api_export/exercises/node_modules/undici-types/agent.d.ts
/wger/api_export/exercises/node_modules/undici-types/api.d.ts
/wger/api_export/exercises/node_modules/undici-types/balanced-pool.d.ts
/wger/api_export/exercises/node_modules/undici-types/cache.d.ts
/wger/api_export/exercises/node_modules/undici-types/client.d.ts
/wger/api_export/exercises/node_modules/undici-types/connector.d.ts
/wger/api_export/exercises/node_modules/undici-types/content-type.d.ts
/wger/api_export/exercises/node_modules/undici-types/cookies.d.ts
/wger/api_export/exercises/node_modules/undici-types/diagnostics-channel.d.ts
/wger/api_export/exercises/node_modules/undici-types/dispatcher.d.ts
/wger/api_export/exercises/node_modules/undici-types/errors.d.ts
/wger/api_export/exercises/node_modules/undici-types/fetch.d.ts
/wger/api_export/exercises/node_modules/undici-types/file.d.ts
/wger/api_export/exercises/node_modules/undici-types/filereader.d.ts
/wger/api_export/exercises/node_modules/undici-types/formdata.d.ts
/wger/api_export/exercises/node_modules/undici-types/global-dispatcher.d.ts
/wger/api_export/exercises/node_modules/undici-types/global-origin.d.ts
/wger/api_export/exercises/node_modules/undici-types/handlers.d.ts
/wger/api_export/exercises/node_modules/undici-types/header.d.ts
/wger/api_export/exercises/node_modules/undici-types/index.d.ts
/wger/api_export/exercises/node_modules/undici-types/interceptors.d.ts
/wger/api_export/exercises/node_modules/undici-types/mock-agent.d.ts
/wger/api_export/exercises/node_modules/undici-types/mock-client.d.ts
/wger/api_export/exercises/node_modules/undici-types/mock-errors.d.ts
/wger/api_export/exercises/node_modules/undici-types/mock-interceptor.d.ts
/wger/api_export/exercises/node_modules/undici-types/mock-pool.d.ts
/wger/api_export/exercises/node_modules/undici-types/package.json
/wger/api_export/exercises/node_modules/undici-types/patch.d.ts
/wger/api_export/exercises/node_modules/undici-types/pool.d.ts
/wger/api_export/exercises/node_modules/undici-types/pool-stats.d.ts
/wger/api_export/exercises/node_modules/undici-types/proxy-agent.d.ts
/wger/api_export/exercises/node_modules/undici-types/readable.d.ts
/wger/api_export/exercises/node_modules/undici-types/README.md
/wger/api_export/exercises/node_modules/undici-types/webidl.d.ts
/wger/api_export/exercises/node_modules/undici-types/websocket.d.ts
/wger/api_export/exercises/node_modules/.package-lock.json
